.keys {
    padding: 20px 20px 0 20px;
    
  }
  
.row {
    width: 280px;
    float: left;
  }

.keys button {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5e5858;
    cursor: pointer;
  }
  
button:active {
    background-color: #d4d3d3;
    cursor: pointer;
  }
  
  .equals-key {
    background: #ff0509 !important;
    color: #ffffff !important;
  }
  
  .operator {
    background: #e66a6c !important;
    color: #ffffff !important;
  }
  
  .helper {
    background: #e4c391 !important;
    color: black !important;
  }
  
  .helper:active {
    background: #e4d8c6 !important;
    color: black !important;
  }
  
  .equals-key:active {
    background: #f56d70 !important;
    color: #ffffff !important;
  }
  
  .operator:active {
    background: #f8adae !important;
    color: #ffffff !important;
  }
  
  